@model Users
@{

}
<h6>successfully deleted</h6>
<table class="table table-responsive-lg table-bordered">

    <tr>
        <td>name</td>
        <td>Password</td>
        <td>Email</td>
        <td>Depart Id</td>
        <td></td>
    </tr>
    <tr>
        <td>@Model.Name</td>
        <td>@Model.Password</td>
        <td>@Model.Email</td>
        <td>@Model.DepartId</td>
    </tr>
</table>>